body{
    padding: 0px;
    margin: 0px;
    vertical-align: top;
}
.container{
    padding: 5px;
}

.grid > div{
    background: #eee;
    padding: 1em;
}
.grid > div:nth-child(odd){
    background: #ddd;
}